<div *ngFor="let card of cards"
     class="card stacked"
     [class.selected]="card === selectedCard"
     (click)="onSelect(card)"
     routerLink="/detail/{{card.title}}">
  <div class="card__bg card__bg-{{card.title | replace: ' ': '' | lowercase}}">
    <img src="assets/images/icon-{{card.title | replace: ' ': '-' | lowercase}}.svg" alt="{{card.title}}-icon">
  </div>
  <div class="card__main">
    <div class="card__header">
      <div class="title">{{ card.title }}</div>
      <div class="settings-btn">
        <button class="btn"><img src="assets/images/icon-ellipsis.svg" alt=""></button>
      </div>
    </div>
    <div class="card__content">
      <div class="card__content__main">
        <div *ngIf="plan === 'daily'">
          {{ card.timeframes.daily.current }}hrs
        </div>
        <div *ngIf="plan === 'weekly'">
          {{ card.timeframes.weekly.current }}hrs
        </div>
        <div *ngIf="plan === 'monthly'">
          {{ card.timeframes.monthly.current }}hrs
        </div>
      </div>
      <div class="card__content__second">
        <div *ngIf="plan === 'daily'">
          Last Week - {{card["timeframes"]['daily']["previous"]}}hrs
        </div>
        <div *ngIf="plan === 'weekly'">
          Last Week - {{card["timeframes"]['weekly']["previous"]}}hrs
        </div>
        <div *ngIf="plan === 'monthly'">
          Last Week - {{card["timeframes"]['monthly']["previous"]}}hrs
        </div>
      </div>
    </div>
  </div>
</div>
