@import "../../less/variables.less";

.selected {
  filter: brightness(130%);
}

.cards-grid {
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 330px);
  @media (min-width: @FirstBreak) {
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 30px;
  }
}
