<div *ngFor="let card of cards"
     class="card stacked"
     [class.selected]="card === selectedCard"
     (click)="onSelect(card)"
     routerLink="/detail/{{card.title}}">
  <div class="card__bg card__bg-{{card.title | replace: ' ': '' | lowercase}}">
    <img src="assets/images/icon-{{card.title | replace: ' ': '-' | lowercase}}.svg" alt="{{card.title}}-icon">
  </div>
  <div class="card__main">
    <div class="card__header">
      <div class="title">{{ card.title }} plan: {{ plan }}</div>
      <div class="settings-btn">
        <button class="btn"><img src="assets/images/icon-ellipsis.svg" alt=""></button>
      </div>
    </div>
    <div class="card__content">
      <div class="card__content__main" *ngIf="plan as selectPlan">{{ card.timeframes['weekly'].current }}hrs <span>{{selectPlan}}</span></div>
      <div class="card__content__second">Last Week - {{card.timeframes['weekly'].previous}}hrs</div>
    </div>
  </div>
</div>

<!--<app-card-detail [card]="selectedCard" ></app-card-detail>-->
