.selected {
  filter: brightness(130%);
}

.cards-grid {
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 330px);
  @media (min-width: 550px) {
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 30px;
  }
}

.card__main {
  height: 120px;
  @media (min-width: 800px) {
    height: 200px;
  }
}
