<div class="card stacked" *ngFor="let card of cards">
  <div class="card__bg card__bg-work">
    <img src="assets/images/icon-work.svg" alt="work-icon">
  </div>
  <div class="card__main">
    <div class="card__header">
      <div class="title">{{ card.title }} {{defaultPlan}}</div>
      <div class="settings-btn">
        <button class="btn"><img src="assets/images/icon-ellipsis.svg" alt=""></button>
      </div>
    </div>
    <div class="card__content">
      <div class="card__content__main">{{ card.timeframes.weekly.current }}hrs</div>
      <div class="card__content__second">Last Week - {{card.timeframes.weekly.previous}}hrs</div>
    </div>
  </div>
</div>
