@import "../../less/variables.less";
.hero-card {
  background-color: hsl(235, 46%, 20%);
  width: 330px;
  margin: 0 auto 30px;
  @media (min-width: @FirstBreak) {
    width: 256px;
  }
  &__header {
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 65%;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    padding: 2rem 1.25rem;
    z-index: 10;
    margin-bottom: 4rem;
    @media (min-width: @FirstBreak) {
      grid-template-columns: 1fr;
      height: 355px;
      margin-bottom: 165px;
    }
  }

  &__profile-img {
    width: 65px;
    border: 2px solid white;
    border-radius: 50%;
    place-self: center;
    @media (min-width: @FirstBreak) {
      place-self: start;
    }
  }

  &__title {
    font-size: 1rem;
    align-self: center;
    @media (min-width: @FirstBreak) {
      place-self: start;
      font-size: 2rem;
    }
    & p {
      color: hsl(236, 100%, 87%);
      font-size: 0.8333em;
    }
    & h1 {
      font-size: 1.1666em;
    }
  }

  &__content {
    font-size: 1rem;
    align-self: end;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    line-height: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      & > * {
        text-align: center;
        font-size: 1em;
        color: hsl(235, 45%, 61%);
        line-height: inherit;
        @media (min-width: @FirstBreak) {
          text-align: left;
          align-self: center;
          font-size: 1.025em;
        }
      }

    @media (min-width: @FirstBreak) {
      grid-template-columns: 1fr;
      height: 165px;
      padding-left: 1.25rem;
      line-height: 1;
    }
  }
}

