<div class="hero-card card stacked">
  <div class="hero-card__header">
    <img src="assets/images/image-jeremy.png" alt="profile image" class="hero-card__profile-img">
    <div class="hero-card__title">
      <p>Report for</p>
      <h1>Jeremy Robson</h1>
    </div>
  </div>
  <div class="hero-card__content">
    <button class="btn plan-btn" (click)="updatePlan($event)">Daily</button>
    <button class="btn plan-btn active" (click)="updatePlan($event)">Weekly</button>
    <button class="btn plan-btn" (click)="updatePlan($event)">Monthly</button>
  </div>
</div>
