.hero-card {
  background-color: hsl(235, 46%, 20%);
}
@media (min-width: 550px) {
  .hero-card {
    grid-row: span 2;
  }
}
.hero-card__header {
  display: grid;
  gap: 5%;
  grid-template-columns: 30% 65%;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  padding: 2rem 1.25rem;
  z-index: 10;
  margin-bottom: 4rem;
}
@media (min-width: 550px) {
  .hero-card__header {
    grid-template-columns: 1fr;
    height: 355px;
    margin-bottom: 165px;
  }
}
.hero-card__profile-img {
  width: 65px;
  border: 2px solid white;
  border-radius: 50%;
  place-self: center;
}
@media (min-width: 550px) {
  .hero-card__profile-img {
    place-self: start;
  }
}
.hero-card__title {
  font-size: 1rem;
  align-self: center;
}
@media (min-width: 550px) {
  .hero-card__title {
    place-self: start;
    font-size: 2rem;
  }
}
.hero-card__title p {
  color: hsl(236, 100%, 87%);
  font-size: 0.8333em;
}
.hero-card__title h1 {
  font-size: 1.1666em;
}
.hero-card__content {
  font-size: 1rem;
  align-self: end;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  line-height: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  & div {
    text-align: left;
    padding: 17px 0;
    & > * {
      text-align: center;
      font-size: 1em;
      color: hsl(235, 45%, 61%);
      line-height: inherit;
      transition: transform 0.2s ease-in-out;
      @media (min-width: 550px) {
        text-align: left;
        align-self: center;
        font-size: 1.025em;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: white;
      }
    }
  }
  @media (min-width: 550px) {
    grid-template-columns: 1fr;
    height: 165px;
    padding-left: 1.25rem;
    line-height: 1;
  }
}

