<div class="hero-card card stacked">
  <div class="hero-card__header">
    <a [routerLink]="['/dashboard']">
      <img src="assets/images/image-jeremy.png" alt="profile image" class="hero-card__profile-img">
    </a>
    <div class="hero-card__title">
      <p>Report for</p>
      <h1>Jeremy Robson</h1>
    </div>
  </div>

  <div class="hero-card__content">
    <ng-container *ngFor="let option of options">
      <app-plan-button
        [text]=option
        [plan]="plan"
        [selectedOption]=selectedOption
        (onSelectOption)="selectOption(option)"
      ></app-plan-button>
    </ng-container>
  </div>
</div>
