.card {
  border-radius: var(--Border-radius);
  overflow: hidden;
  transition: all .1s ease-in-out;
  &:hover {
    cursor: pointer;
    filter: brightness(130%);
  }
  &__bg {
    display: grid;
    justify-content: end;
    padding-inline: var(--card-padding);
    img {
      width: 45px;
    }
  }
  &__main {
    background-color: var(--Dark-blue);
    align-self: end;
    margin-top: var(--card-tab-height1);
    border-radius: var(--Border-radius);
    padding: var(--card-padding);
    height: 120px;
    @media (min-width: var(--MScreen)) {
      height: 200px;
      margin-top: var(--card-tab-height2);
    }
  }
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @media (min-width: var(--MScreen)) {
      grid-template-columns: 1fr;
      margin-top: 1rem;
    }
    &__main {
      font-size: 25px;
      font-weight: 300;
      @media (min-width: var(--MScreen)) {
        font-size: 40px;
      }
    }
    &__second {
      justify-self: end;
      font-size: 12px;
      font-weight: 400;
      color: var(--Pale-Blue);
      @media (min-width: var(--MScreen)) {
        justify-self: unset;
      }
    }
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.settings-btn {
  place-self: end;
}

.card__bg {
  &-work {
    background-color: var(--Light-orange);
  }
  &-play {
    background-color: var(--Soft-blue);
  }
  &-study {
    background-color: var(--Light-red);
  }
  &-exercise {
    background-color: var(--Lime-green);
  }
  &-social {
    background-color: var(--Violet);
  }
  &-selfcare {
    background-color: var(--Soft-yellow);
  }
}

.hero-card {
  background-color: var(--Dark-blue);
  @media (min-width: var(--MScreen)) {
    grid-row: span 2;
  }
  &__header {
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 65%;
    @media (min-width: var(--MScreen)) {
      grid-template-columns: 1fr;
      height: 355px;
      margin-bottom: 165px;
    }
    background-color: var(--Blue);
    border-radius: var(--Border-radius);
    padding: 2rem var(--card-padding);
    z-index: 10;
    margin-bottom: 4rem;
  }
  &__profile-img {
    width: 65px;
    border: 2px solid white;
    border-radius: 50%;
    place-self: center;
    @media (min-width: var(--MScreen)) {
      place-self: start;
    }
  }
  &__title {
    font-size: 1rem; // 18px
    align-self: center;
    @media (min-width: var(--MScreen)) {
      place-self: start;
      font-size: 2rem; // 36px
    }
    & p {
      color: var(--Pale-Blue);
      font-size: 0.8333em; // 15px / 30px
    }
    & h1 {
      font-size: 1.1666em; // 21px / 42px
    }
  }
  &__content {
    font-size: 1rem; // 18px
    align-self: end;
    background-color: var(--Dark-blue);
    border-radius: var(--Border-radius);
    line-height: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (min-width: var(--MScreen)) {
      grid-template-columns: 1fr;
      height: 165px;
      padding-left: 1.25rem;
      line-height: 1;
    }
    & > * {
      text-align: center;
      font-size: 1em; // 18px
      color: var(--Desaturated-blue);
      line-height: inherit;
      transition: transform .2s ease-in-out;
      @media (min-width: var(--MScreen)) {
        text-align: left;
        align-self: center;
        font-size: 1.025em;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: white;
      }
    }
  }
}
